.body-container {
  margin-top: 60px;
}

.btn {
  margin: 8px 40px 0px 0px;
}

.navbar-brand {
  margin-right: 60px;
}

.pet-post {
  width: 22%;
  margin: 6px 6px 30px 6px;
}

.pet-post img {
  width: 220px;
  height: 220px;
}

p {
  margin-top: 12px;
}

ul {
  margin-top: 12px;
}

.pet-post li {
  list-style-type: none;
  margin-left: -30px;
}

.getNewPet {
  display: none;
}

#handOff {
  display: none;
}

#inputPicture{
  width:220px;
}

#submitInterest {
  display: none;
}
.newPetInfo{
  height: 400px;
  float:left;
  border: 3px double grey;
}
.description{
  margin: 5px;
}
